In [1]:
import pandas as pd

In [2]:
customers = pd.read_csv("Customers.csv")
products = pd.read_csv("Products.csv")
transactions = pd.read_csv("Transactions.csv")

In [3]:
transactions_products = transactions.merge(products, on="ProductID", suffixes=("_transaction", "_product"))

In [4]:
transactions_products = transactions_products.drop(columns=["Price_product"])
transactions_products.rename(columns={'Price_transaction':'Price'},inplace=True)

In [5]:
transactions_customers = transactions_products.merge(customers, on="CustomerID")

In [6]:
transactions_customers

,TransactionID,CustomerID,ProductID,TransactionDate,Quantity,TotalValue,Price,ProductName,Category,CustomerName,Region,SignupDate
0,T00001,C0199,P067,2024-08-25 12:38:23,1,300.68,300.68,ComfortLiving Bluetooth Speaker,Electronics,Andrea Jenkins,Europe,2022-12-03
1,T00112,C0146,P067,2024-05-27 22:23:54,1,300.68,300.68,ComfortLiving Bluetooth Speaker,Electronics,Brittany Harvey,Asia,2024-09-04
2,T00166,C0127,P067,2024-04-25 07:38:55,1,300.68,300.68,ComfortLiving Bluetooth Speaker,Electronics,Kathryn Stevens,Europe,2024-04-04
3,T00272,C0087,P067,2024-03-26 22:55:37,2,601.36,300.68,ComfortLiving Bluetooth Speaker,Electronics,Travis Campbell,South America,2024-04-11
4,T00363,C0070,P067,2024-03-21 15:10:10,3,902.04,300.68,ComfortLiving Bluetooth Speaker,Electronics,Timothy Perez,Europe,2022-03-15
...,...,...,...,...,...,...,...,...,...,...,...,...
995,T00496,C0118,P037,2024-10-24 08:30:27,1,459.86,459.86,SoundWave Smartwatch,Electronics,Jacob Holt,South America,2022-01-22
996,T00759,C0059,P037,2024-06-04 02:15:24,3,1379.58,459.86,SoundWave Smartwatch,Electronics,Mrs. Kimberly Wright,North America,2024-04-07
997,T00922,C0018,P037,2024-04-05 13:05:32,4,1839.44,459.86,SoundWave Smartwatch,Electronics,Tyler Haynes,North America,2024-09-21
998,T00959,C0115,P037,2024-09-29 10:16:02,2,919.72,459.86,SoundWave Smartwatch,Electronics,Joshua Hamilton,Asia,2024-11-11
999,T00992,C0024,P037,2024-04-21 10:52:24,1,459.86,459.86,SoundWave Smartwatch,Electronics,Michele Cooley,North America,2024-02-05

In [7]:
customer_features = transactions_customers.groupby("CustomerID").agg({
    "TotalValue": "sum",        
    "TransactionID": "count", 
    "Category": lambda x: x.mode()[0],  
    "Price": "mean"             
}).reset_index()

In [8]:
customer_features

    CustomerID  TotalValue  TransactionID     Category       Price
0        C0001     3354.52              5  Electronics  278.334000
1        C0002     1862.74              4     Clothing  208.920000
2        C0003     2725.38              4   Home Decor  195.707500
3        C0004     5354.88              8        Books  240.636250
4        C0005     2034.24              3  Electronics  291.603333
..         ...         ...            ...          ...         ...
194      C0196     4982.88              4   Home Decor  416.992500
195      C0197     1928.65              3  Electronics  227.056667
196      C0198      931.83              2     Clothing  239.705000
197      C0199     1979.28              4  Electronics  250.610000
198      C0200     4758.60              5     Clothing  296.506000

[199 rows x 5 columns]

In [9]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity

In [10]:
customer_features = pd.get_dummies(customer_features, columns=["Category"])
scaler = MinMaxScaler()
normalized_features = scaler.fit_transform(customer_features.drop("CustomerID", axis=1))
similarity_matrix = cosine_similarity(normalized_features)
top_lookalikes = {}
for i, cust_id in enumerate(customer_features["CustomerID"][:20]):
    similarities = similarity_matrix[i]
    similar_indices = similarities.argsort()[-4:-1][::-1]
    similar_customers = [(customer_features["CustomerID"].iloc[j], similarities[j]) for j in similar_indices]
    top_lookalikes[cust_id] = similar_customers

In [11]:
top_lookalikes

{'C0001': [('C0069', np.float64(0.9993289015040403)),
  ('C0154', np.float64(0.9970344086605433)),
  ('C0181', np.float64(0.9967116880893808))],
 'C0002': [('C0029', np.float64(0.9999779985306463)),
  ('C0088', np.float64(0.9960203671461065)),
  ('C0062', np.float64(0.9958309055252705))],
 'C0003': [('C0178', np.float64(0.9979288188044522)),
  ('C0038', np.float64(0.9965444123271779)),
  ('C0189', np.float64(0.9960368918849791))],
 'C0004': [('C0017', np.float64(0.9990949035631695)),
  ('C0101', np.float64(0.9990242826597907)),
  ('C0173', np.float64(0.997510538437538))],
 'C0005': [('C0120', np.float64(0.9993878688167758)),
  ('C0186', np.float64(0.9987446439978199)),
  ('C0192', np.float64(0.9964497450131964))],
 'C0006': [('C0117', np.float64(0.9987221523730044)),
  ('C0135', np.float64(0.9962830912829247)),
  ('C0125', np.float64(0.9959248311706238))],
 'C0007': [('C0115', np.float64(0.9980376817569748)),
  ('C0050', np.float64(0.9976598802069614)),
  ('C0186', np.float64(0.9972057917143319))],
 'C0008': [('C0113', np.float64(0.99190706269475)),
  ('C0065', np.float64(0.9806672740716401)),
  ('C0124', np.float64(0.9804526873742773))],
 'C0009': [('C0061', np.float64(0.9949265659504261)),
  ('C0198', np.float64(0.9914746452276593)),
  ('C0129', np.float64(0.9908444530954604))],
 'C0010': [('C0029', np.float64(0.994568680379704)),
  ('C0002', np.float64(0.9943307396339125)),
  ('C0111', np.float64(0.9939617304918413))],
 'C0011': [('C0064', np.float64(0.999758586487484)),
  ('C0137', np.float64(0.999584615752592)),
  ('C0191', np.float64(0.9985412795507982))],
 'C0012': [('C0124', np.float64(0.9979711010917404)),
  ('C0163', np.float64(0.9958845220938383)),
  ('C0195', np.float64(0.9947987273462878))],
 'C0013': [('C0099', np.float64(0.9975847162410983)),
  ('C0143', np.float64(0.99750044095867)),
  ('C0145', np.float64(0.9963332753071533))],
 'C0014': [('C0097', np.float64(0.9988418162265524)),
  ('C0110', np.float64(0.9875050271361745)),
  ('C0151', np.float64(0.9756982796848629))],
 'C0015': [('C0123', np.float64(0.9929373240508457)),
  ('C0131', np.float64(0.9919781055040867)),
  ('C0085', np.float64(0.9908024830065736))],
 'C0016': [('C0056', np.float64(0.9927090492847048)),
  ('C0107', np.float64(0.9925524330976438)),
  ('C0103', np.float64(0.9912294384411638))],
 'C0017': [('C0004', np.float64(0.9990949035631695)),
  ('C0101', np.float64(0.996898412348295)),
  ('C0075', np.float64(0.9965641871278318))],
 'C0018': [('C0153', np.float64(0.9972161711820299)),
  ('C0057', np.float64(0.9970029892055653)),
  ('C0064', np.float64(0.9960742928823261))],
 'C0019': [('C0047', np.float64(0.9965968314635882)),
  ('C0174', np.float64(0.9951919128002317)),
  ('C0116', np.float64(0.9950584064776139))],
 'C0020': [('C0130', np.float64(0.9996042615697278)),
  ('C0140', np.float64(0.992468384320309)),
  ('C0186', np.float64(0.9836352094964974))]}

In [12]:
lookalike_data = []
for cust_id, lookalikes in top_lookalikes.items():
    for similar_cust, score in lookalikes:
        lookalike_data.append({"CustomerID": cust_id, "SimilarCustomerID": similar_cust, "Score": score})
lookalike_df = pd.DataFrame(lookalike_data)
lookalike_df.to_csv("Lookalike.csv", index=False)

In [13]:
lookalike_df

   CustomerID SimilarCustomerID     Score
0       C0001             C0069  0.999329
1       C0001             C0154  0.997034
2       C0001             C0181  0.996712
3       C0002             C0029  0.999978
4       C0002             C0088  0.996020
5       C0002             C0062  0.995831
6       C0003             C0178  0.997929
7       C0003             C0038  0.996544
8       C0003             C0189  0.996037
9       C0004             C0017  0.999095
10      C0004             C0101  0.999024
11      C0004             C0173  0.997511
12      C0005             C0120  0.999388
13      C0005             C0186  0.998745
14      C0005             C0192  0.996450
15      C0006             C0117  0.998722
16      C0006             C0135  0.996283
17      C0006             C0125  0.995925
18      C0007             C0115  0.998038
19      C0007             C0050  0.997660
20      C0007             C0186  0.997206
21      C0008             C0113  0.991907
22      C0008             C0065  0.980667
23      C0008             C0124  0.980453
24      C0009             C0061  0.994927
25      C0009             C0198  0.991475
26      C0009             C0129  0.990844
27      C0010             C0029  0.994569
28      C0010             C0002  0.994331
29      C0010             C0111  0.993962
30      C0011             C0064  0.999759
31      C0011             C0137  0.999585
32      C0011             C0191  0.998541
33      C0012             C0124  0.997971
34      C0012             C0163  0.995885
35      C0012             C0195  0.994799
36      C0013             C0099  0.997585
37      C0013             C0143  0.997500
38      C0013             C0145  0.996333
39      C0014             C0097  0.998842
40      C0014             C0110  0.987505
41      C0014             C0151  0.975698
42      C0015             C0123  0.992937
43      C0015             C0131  0.991978
44      C0015             C0085  0.990802
45      C0016             C0056  0.992709
46      C0016             C0107  0.992552
47      C0016             C0103  0.991229
48      C0017             C0004  0.999095
49      C0017             C0101  0.996898
50      C0017             C0075  0.996564
51      C0018             C0153  0.997216
52      C0018             C0057  0.997003
53      C0018             C0064  0.996074
54      C0019             C0047  0.996597
55      C0019             C0174  0.995192
56      C0019             C0116  0.995058
57      C0020             C0130  0.999604
58      C0020             C0140  0.992468
59      C0020             C0186  0.983635